// use #FEB804 temporarily

$white: #fff !default;
$purple: #A8278C !default;

$button-hover-color: $purple;

body {
  font-family: "GT Walsheim, sans-serif";
  font-size: 16px;
  background: url(/src/assets/image/background.jpg) center center / cover no-repeat rgb(3, 4, 8);
  color: $white;
}