$purple: #A8278C !default;

$button-hover-color: $purple;

body {
  font-family: "GT Walsheim Pro, Helvitica, sans-serif";
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  color: rgb(230, 230, 230);
  margin: 0;
}

.layout {
  background-image: url("/image/background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(3, 4, 8);
  display: flex;

  .sider {
    width: 400px;
    height: 100vh;
    border-right: 1px solid rgba(255, 255, 255, 0.25);
  }
}

.text-grey {
  color:rgb(145, 161, 171);
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
}

.border{
  border: 1px solid rgba(255, 255, 255, 0.25);
}

.border-bottom{
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.flex{
  display: flex;
  flex-wrap: wrap;
}

.flex-column{
  flex-direction: column;
}

.flex-right{
  margin-left: auto;
}

.flex-grow-1{
  flex-grow: 1;
}

.flex-grow-2{
  flex-grow: 2;
}

.flex-grow-10{
  flex-grow: 10;
}

/* Inserting this collapsed row between two flex items will make 
 * the flex item that comes after it break to a new row */
 .flex-break {
  flex-basis: 100%;
  height: 0;
}

.inline-block{
  display: inline-block;
}

.margin-left-12{
  margin-left: 12px;
}

.margin-right-6{
  margin-right: 6px;
}

.margin-right-12{
  margin-right: 12px;
}

.margin-bottom-12{
  margin-bottom: 12px;
}

.margin-bottom-24{
  margin-bottom: 24px;
}

.width-100{
  width: 100%;
}

.padding-top-12{
  padding-top:12px;
}
.padding-bottom-12{
  padding-bottom:12px;
}

.main {
  align-items: center;
}